  <nav>
    <div class="col">
      <img id="logoArgProg" src="../assets/img/logoArgProg.png" alt="logo">
    </div>

    <div class="col" id="redesSoc">
      <a class="fb" href="https://www.facebook.com/Mickaelapom/" target="..."><i
          class="fab fa-facebook fa-2x color"></i>
      </a>
      <a href="https://outlook.live.com/owa/0/?state=1&redirectTo=aHR0cHM6Ly9vdXRsb29rLmxpdmUuY29tL21haWwvMC9qdW5rZW1haWwv"
        target="..."><i class="far fa-envelope fa-2x color"></i>
      </a>
      <a href="https://web.whatsapp.com/" target="..."><i class="fab fa-whatsapp fa-2x color"></i>
      </a>
    </div>

    <!-- LOGIN BOTÓN -->
    <div class="col" id="button">
      <app-login class="margen"></app-login>
      <app-logout class="margen"></app-logout>
    </div>
  </nav>
